@import "tailwindcss";
/* @import 'flowbite'; */
/* global.css ya component ke style tag me */
.scrollbar-modern::-webkit-scrollbar {
  width: 4px;           /* super thin */
}

.scrollbar-modern::-webkit-scrollbar-track {
  background: transparent;  /* track almost invisible */
}

.scrollbar-modern::-webkit-scrollbar-thumb {
  background-color: rgba(59, 130, 246, 0.7); /* blue-500 with transparency */
  border-radius: 9999px;  /* rounded */
}

.scrollbar-modern::-webkit-scrollbar-thumb:hover {
  background-color: rgba(59, 130, 246, 1); /* full blue on hover */
}

/* For Firefox */
.scrollbar-modern {
  scrollbar-width: thin;
  scrollbar-color: rgba(59,130,246,0.7) transparent;
}
